*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #fff;
}
button{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    /* border: none; */
}
button:active{
    scale: 0.95;
}